html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: crimson;
  text-align: center;
}

.post {
  size: 50px;
}

.h2 {
  font-size: 30px;
}

.parent {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  width: 65%;
  align-items: center;
  font-size: 30px;
  color: white;
  align-items: stretch;
  font-family: "Mulish", sans-serif;
}

.child {
  border: 5px solid black;
  width: 25%;
  text-align: center;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem black;
  border-radius: 5px;
}

.child:hover {
  transform:scale(1.1) rotate(360deg) translate(40px,20px);
  transition-delay: 0.05s;
  transition-duration: 1s;
  color: black;
}
 #header:hover {
  transform: rotate(360deg) scale(1.1);
  transition-delay: 0.05s;
  transition-duration: 2s;
  color:white;
  
}

#header {
  margin: 20px auto;
  margin-bottom: 75px;
  padding: 10px;
  border: 3px solid black;
  width: 20%;
  border-radius: 20px;
  color: white;
}

@media screen and (max-width: 600px)  {
  .child{
    align-items: center;
    width: 10%;
  }
  .header {
    color: white;
    flex-direction: column;
  }
    .parent{
      color: white;
      width: 10%; 
}

