html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: crimson;
  text-align: center;
}

.parent {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  width: 65%;
  align-items: center;
  font-size: 30px;
  color: white;
  align-items: stretch;
  font-family: "Mulish", sans-serif;
}

.child {
  border: 5px solid black;
  width: 30%;
  text-align: center;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem black;
  border-radius: 5px;
}

.child:hover {
  transform:scale(1.1) rotate(360deg);
  transition-delay: 0.05s;
  transition-duration: 1s;
  color: black;
}

 #header:hover {
  transform:scale(1.1) rotate(360deg);
  transition-delay: 0.05s;
  transition-duration: 2s;
}

#header {
  margin: 20px auto;
  margin-bottom: 75px;
  padding: 10px;
  border: 3px solid black;
  width: 15%;
  border-radius: 20px;
  color: white;
}

@media (max-width: 500px) and (max-height: 500px) {
  .child{
  }
}

@media (orientation: landscape) and (max-width: 500px) {
 .header {
  color: white;
 }

}

@media(orientation: portrait) {
  .parent{
    color: white;
  }
}