html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: crimson;
  text-align: center;
}

.parent {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  width: 65%;
  scale: 80%;
  align-items: center;
  font-size: 25px;
  color: white;
  align-items: stretch;
  font-family: "Mulish", sans-serif;
}

.child {
  border: 5px solid black;
  width: 25%;
  text-align: center;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem black;
  border-radius: 5px;
}

.child:hover {
  transform:scale(1.1) rotate(360deg) translate(40px,20px) rotate3d(0,1,0, 360deg);
  transition-duration: 500ms;
  transition-delay: 0.5s;
  color: black;
}
 #header:hover {
  transform: rotate(360deg) scale(1.1);
  transition-delay: 0.05s;
  transition-duration: 1.5s;
  color: black;
  
}

#header {
  margin: 20px auto;
  margin-bottom: 75px;
  padding: 10px;
  border: 3px solid black;
  width: 20%;
  border-radius: 20px;
  color: white;
}

@media screen and (max-width: 600px)  {
  .child{
    align-items: center;
    width: 75%;
    margin-bottom: 40px;
  }
  .header {
    color: white;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
  }
    .parent{
      color: white;
      width: 100%; 
      flex-direction: column;
      align-items: center;
      align-content: center;
      align-self: center;

}

